body {
    background-image: url(images/luxury-home-2409518.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    margin: 0;
    padding-top: 56px;
}